# Logs
logs
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*
lerna-debug.log*

node_modules
dist
dist-ssr
*.local
public/csv_joiner/csvs/*
public/pdf_splitter/in/24M30/*
public/pdf_splitter/in/25M30/*
public/pdf_splitter/in/BER/*
public/pdf_splitter/in/EFO/*
public/pdf_splitter/in/EKHO/*
public/pdf_splitter/in/JAR/*

public/pdf_splitter/out/24M30/*
public/pdf_splitter/out/25M30/*
public/pdf_splitter/out/BER/*
public/pdf_splitter/out/EFO/*
public/pdf_splitter/out/EKHO/*
public/pdf_splitter/out/JAR/*

# Editor directories and files
.vscode/*
!.vscode/extensions.json
.idea
.DS_Store
*.suo
*.ntvs*
*.njsproj
*.sln
*.sw?
.env