.app-footer {
  width: 100%;

  height: 20px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding-left: 10px;
  margin-right: 10px;

  background-color: var(--bg-color);
  color: var(--text-color);

  font-size: 13px;
  font-weight: 500;
  letter-spacing: 0.3px;

  border-top: 1px solid var(--shade-color);

  user-select: none;
}
