.app-header {
  display: grid;
  grid-template-columns: auto 1fr auto;
  grid-template-rows: 1fr;
  height: 100%px;
  align-items: center;
  justify-content: space-between;
  background: linear-gradient(to left, var(--app-header-color), var(--bg-color));
  color: var(--text-color);

  -webkit-app-region: drag;
}

.app-header-logo {
  height: 40px;
  width: 40px;
}

.app-header-buttons {
  display: flex;
  height: 40px;
  justify-content: flex-end;
  align-items: center;
  -webkit-app-region: no-drag;
}

.app-header-buttons button {
  width: 100%;
  font-size: small;
  height: 100%;
  width: 50px;
  color: var(--text-color);
  background-color: var(--app-header-color);
  transition: background-color 0.2s ease;
  box-sizing: border-box;
  align-items: center;
  cursor: pointer;
  outline: none;
  padding: 0px;
}

.app-header-buttons button:hover {
  background-color: var(--shade-color);
}

.app-header-buttons #close-button:hover {
  background-color: #c71313;
}

.app-header-title {
  display: flex;
  font-size: 15px;
  font-weight: 800;
  align-items: center;
  justify-content: center;
  color: var(--text-color);
  margin: 0px;
}