.console-output {
  background-color: var(--bg-color);
  color: var(--text-color);
  padding: 12px;
  width: 100%;
  height: 100%;
  border-radius: 6px;
  box-sizing: border-box;
  max-height: 300px;
  overflow-y: auto;
  white-space: pre-wrap;
  font-family: Monospace;
  font-size: 13px;
}

/* Scrollbar width */
.console-output::-webkit-scrollbar {
  width: 10px;
}

/* Scrollbar track (background) */
.console-output::-webkit-scrollbar-track {
  background: var(--shade-color);
  border-radius: 6px;
}

/* Scrollbar thumb (the draggable part) */
.console-output::-webkit-scrollbar-thumb {
  background: var(--text-color-other);
  border-radius: 6px;
  border: 2px solid var(--shade-color); /* creates padding effect */
}

/* Hover effect */
.console-output::-webkit-scrollbar-thumb:hover {
  background: var(--primary-color);
}
