.console-output {
  display: flex;
  flex-direction: column;
  gap: 8px;
  border: 1px solid rgba(255, 255, 255, 0.1);
  border-radius: 6px;
  padding: 8px;
  background-color: var(--bg-color);
  color: var(--text-color);
  min-height: 0;
  max-height: 200px;
  flex-shrink: 0;
}

.console-output-content {
  background-color: var(--shade-color);
  color: var(--text-color);
  padding: 12px;
  margin-top: 5px;
  width: 100%;
  height: 100%;
  border-radius: 0px;
  box-sizing: border-box;
  max-height: 300px;
  overflow-y: auto;
  white-space: pre-wrap;
  font-family: Monospace;
  font-size: 13px;
}

/* Scrollbar width */
.console-output-content::-webkit-scrollbar {
  width: 10px;
}

/* Scrollbar track (background) */
.console-output-content::-webkit-scrollbar-track {
  background: var(--shade-color);
  border-radius: 6px;
}

/* Scrollbar thumb (the draggable part) */
.console-output-content::-webkit-scrollbar-thumb {
  background: var(--text-color-other);
  border-radius: 6px;
  border: 2px solid var(--shade-color);
  /* creates padding effect */
}

/* Hover effect */
.console-output-content::-webkit-scrollbar-thumb:hover {
  background: var(--primary-color);
}

.console-output-placeholder {
  color: var(--text-color-other);
  font-style: italic;
  padding: 12px;
}

.console-output-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 0px;
}