.tab-card {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between; /* label left, close on right */
  padding: 0 8px;

  background-color: var(--bg-color);
  border: 1px solid var(--shade-color);
  border-bottom: 1px solid var(--shade-color);

  width: auto;
  min-width: 100px;
  height: 100%;
  box-sizing: border-box;

  border-top-left-radius: 5px;
  border-top-right-radius: 5px;

  cursor: pointer;
  user-select: none;
}

.active-tab-card {
  background-color: var(--shade-color);
  border-top: 2px solid var(--primary-color);
  border-bottom: none;
}

/* Label styling */
.tab-card-label {
  flex: 1;
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
}

/* Close button */
.tab-card-close{
  color: var(--text-color);
  background: transparent;
  border: none;
  cursor: pointer;

  opacity: 0.6;
  transition: opacity 0.15s;
}

.tab-card-close:hover {
  opacity: 1;
  color: var(--text-color);
  background-color: var(--bg-color);
}
