.tab-card {
  display: flex;
  background-color: var(--bg-color);
  border: 1px solid var(--shade-color);
  border-bottom: 1px solid var(--text-color);
  width: 100px;
  min-width: 100px;
  height: 100%;
  align-items: center;
  justify-content: center;
  box-sizing: border-box;
  border-top-left-radius: 12px;
  border-top-right-radius: 12px;
}

.active-tab-card {
  background-color: var(--shade-color);
  border: 1px solid var(--text-color);
  border-bottom: none;

}