#app {
  display: grid;
  grid-template-columns: auto 1fr;
  grid-template-rows: auto 1fr auto;
  width: 100vw;
  height: 100vh;
  box-sizing: border-box;
  overflow: hidden;

  &>.view-selector {
    grid-row: 2;
    grid-column: 1;
  }

  &>.screen-container {
    grid-row: 2;
    grid-column: 2;
  }

  &>.app-header {
    grid-row: 1;
    grid-column: 1 / span 2;
  }

  &>.app-footer {
    grid-row: 3;
    grid-column: 1 / span 2;
  }

}