.app-header {
  background: linear-gradient(var(--primary-color), var(--primary-color));
  color: var(--text-color-other);
  font-weight: bold;
  align-items: center;
  height: 30px;

  & > p{
    padding-left: 10px;
  }
}